* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
    color: white;
    background-color: black;
}

.header{
    max-width: 90rem;
    margin: 2rem auto;
    padding: 0px 2rem;
    text-align: center;
}

header > .title{
    margin-bottom: 1rem;
}
.tribute{
    display:grid;
    grid-template-columns: 2fr 1fr ;
    max-width: 70rem;
    margin:0px auto;
    background: white;
    color: black;
    align-items: center;
    padding: 0px 0px 0px 1rem;
}

.tribute blockquote{
    text-align: center;
    font-size: 2rem;
}
.tribute img {
    max-width: 100%;
}

.bio {
    margin-bottom:1rem;
    font-size:2rem;
    line-height: 1.5;
}

.bio > h2{
    margin-bottom: 1rem;
    font-size: 3rem;
    line-height: 1.2;
} 
.bio > p{
    font-size: 1.2rem;
    line-height: 1.4;
}

.bio > P{
    margin-top: 5rem;
}


