/* CSS */
/* Apply styles for display: flex */
.flex-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 47, 0);
    background-color: grey;

}

/* Apply styles for display: inline */
.inline-display {
    display: inline;
    background-color: rgb(9, 152, 199);
    padding: 10px;
    margin: 5px;
}

/* Apply styles for display: block */
.block-display {
    display: block;
    background-color: rgb(13, 222, 13);
    color: green;
    padding: 10px;
    margin: 5px;
}
